.menu-category{

display:flex;

align-items:center;

gap:18px;

width:100%;

padding:18px;

margin-bottom:18px;

border-radius:22px;

background:white;

border:2px solid #f3f4f6;

transition:.35s;

cursor:pointer;

text-align:left;

}
.favorite-btn{

transition:.3s;

}

.favorite-btn:hover{

transform:scale(1.12);

}

.menu-category:hover{

transform:translateY(-5px);

border-color:#f97316;

box-shadow:0 20px 35px rgba(0,0,0,.08);

}

.category-image{

width:85px;

height:85px;

object-fit:contain;

transition:.35s;

}

.menu-category:hover .category-image{

transform:scale(1.08);

}

.category-title{

font-size:22px;

font-weight:700;

color:#111827;

}

.category-desc{

margin-top:6px;

font-size:14px;

color:#6b7280;

}

.category-link{

margin-top:12px;

display:inline-flex;

align-items:center;

gap:6px;

font-size:14px;

font-weight:600;

color:#f97316;

}

.active-category{

background:linear-gradient(135deg,#f97316,#fb923c);

border-color:#f97316;

box-shadow:0 20px 35px rgba(249,115,22,.25);

transform:scale(1.02);

}

.active-category h3,
.active-category p,
.active-category span{

color:white;

}